/lists all resources

- @resources.each do |resource| 
  %h2= link_to resource.company, resource  # can edit click title  
  %p= resource.description 
  %p= resource.url 
  
/   = link_to 'Show', resource 
/   = link_to 'Edit', edit_resource_path(resource) 
/   = link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } 
      
/ <br>

= link_to 'New Resource', new_resource_path 
