/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=PT+Serif);

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.navbar-default {
  background-color: white;
  border-radius: 0;
  height: 80px;
  padding: 15px 0;
  border: none;
}

.navbar-default .navbar-link {
    color: #777;
    text-decoration: none;
}

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 2em;
  font-weight: 300;
  color: #1D976C !important;
}

h2.title {
  color: #1D976C;
  text-decoration: none;
  margin-top: 45px;
}
h2.title {
   a {
      color: #1D976C;
      text-decoration: none;
      }
}

p.description {
  margin: 20px 0 10px;
  font-family: 'PT Serif', serif;
  font-size: 1.1em;
  line-height: 1.7em;
}

#links {
  margin-top: 2em;
}